@import "src/styles/customCalendar"

$bg-color: rgba(166, 184, 209, 0.26)
body
  background-color: $bg-color

.calendar-container
  margin: 0.5rem 2rem
  padding: 2rem
  border: 0.3rem $dark-bt-color double
  border-radius: 1rem

.calendar-metadata-container
  display: flex
  justify-content: center
  border: 2px solid lightgrey
  border-radius: 10px
  margin-bottom: 0.3rem
  padding: 1vmin 0
  background-color: $custom-yellow
  color: $dark-bt-color
  font-weight: bolder
  align-content: center
  h5
    margin: 0 2vmin