@import "src/styles/customCalendar"

$bg-color: rgba(166, 184, 209, 0.26)
$hwr-dark-red: rgba(104, 12, 9, 0.73)

body
  background-color: $bg-color
  height: 100vh


.calendar-metadata-container
  display: flex
  position: absolute
  bottom: 0
  left: 0
  right: 0
  flex-grow: 2
  justify-content: center
  border-radius: 10px
  margin-bottom: 0.3rem
  padding: 1vmin 0
  background-color: rgba(245, 222, 179, 1)
  color: $dark-bt-color
  font-weight: bolder
  align-content: center
  h5
    margin: 0 2vmin

.calendar-icon
  margin: 0 3rem
  width: 10rem
  height: 10rem

.event-card
  display: inline-flex
  justify-content: center
  align-items: center
  height: 95%
  text-align: center

.homepage-presentment-container
  display: flex
  width: 100vw
  align-self: center
  justify-content: center
  align-items: center
  text-align: center
  font-weight: bolder
  margin-right: 5rem
  padding: 5rem
  color: white
  #homepage-presentment-text
    border-radius: 15px
    padding: 5rem 2rem
    background-color: $hwr-color
    box-shadow: white -1px 0 1rem 1px
  #homepage-presentment-button
    margin-left: 5rem
    transition: ease-in-out all 0.5s
    transform: rotateY(180deg)
    border-radius: 5rem
    background-color: rgba(245, 222, 179, 0.43)
    &:hover
      transition: all 0.5s ease-in
      cursor: pointer
      transform: scale(1.2) translateZ(5rem) translateX(1rem)
      box-shadow: whitesmoke -0.5rem 0.4rem 1px 0.1rem
      border-radius: 30px
      background-color: $hwr-color-active-small-transparency
      *
        transition: 1.5s all ease-in-out
        transform: scale(0.5) rotateX(360deg)
        border-radius: 20px

.home-container
  display: flex
  justify-content: center
  align-items: center
  background-image: url("../resources/bg2.jpg")
  background-size: contain
  background-color: rgba(0, 0, 0, 0.76)
  background-blend-mode: color
