@import 'node_modules/react-big-calendar/lib/sass/styles'

$hwr-color: rgb(213, 34, 55)
$hwr-color-active-small-transparency: rgba(26, 8, 93, 0.71)
$hwr-color-active: rgba(26, 8, 93, 1)
$dark-bt-color: #15161f
$today-indicator-color: rgba(180, 141, 245, 0.43)
$bg-color: rgba(166, 184, 209, 0.26)
$hwr-dark-red: rgba(104, 12, 9, 0.73)

h5
  margin-bottom: 0 !important

.rbc-day-slot .rbc-event
  border: 1px #69d4c0 solid

.rbc-event
  background-color: rgb(213, 34, 55)
  box-shadow: 0px 0px 2px 1px #748296
  color: rgb(255, 255, 255)
  word-break: break-all
  font-size: 0.7rem
  font-weight: bolder
  min-height: 5% !important

@media (max-width: 900px)
  .rbc-event
    justify-content: start

.rbc-today
  background-color: rgba(77, 218, 255, 0.11)

.rbc-event.rbc-selected
  background-color: $hwr-color-active-small-transparency
  font-size: 0.8rem
  z-index: 9999


.rbc-toolbar
  border-top: 1px rgba(211, 211, 211, 0.36) solid
  color: white
  font-weight: bolder !important
  background-color: $hwr-color-active-small-transparency
  padding: 1%
  margin-bottom: 0

@media (max-width: 900px)
  .rbc-toolbar
    > *
      font-size: 60%

.rbc-btn-group
  button
    border-radius: 10px
    background-color: rgb(201, 201, 201)
    color: $hwr-color-active-small-transparency
    font-weight: bold !important

    &:focus, &:active, &:hover
      background-color: $hwr-color-active-small-transparency
      color: whitesmoke
      border: 1px solid whitesmoke

  button.rbc-active
    background-color: $hwr-color-active-small-transparency
    color: whitesmoke


.rbc-current-time-indicator
  background-color: $today-indicator-color

.navbar
  background-color: $dark-bt-color !important

.navbar-brand
  &:hover
    cursor: pointer
    background-color: #9a9a9a
    border-radius: 10px
    margin: 0 !important

.rbc-time-header-gutter
  background-color: white
  flex: 0 0 auto

.rbc-header
  border-bottom: none

.rbc-time-header-content
  display: block !important
  border-left: 1px rgba(211, 211, 211, 0.36) solid

.rbc-time-column
  border: 1px $dark-bt-color solid
  border-top: none
  border-bottom: none

.rbc-time-header
  padding-top: 15px
  border-top: 1px rgba(211, 211, 211, 0.36) solid

.rbc-allday-cell
  display: none

.rbc-timeslot-group
  *
    background-color: white
    border: none !important

.rbc-time-view
  > *
    background-color: transparent !important