@import 'node_modules/react-big-calendar/lib/sass/styles'

$hwr-color: #D50C2F
$hwr-color-active: rgba(0, 0, 135, 0.71)
$dark-bt-color: #343a40
$custom-yellow: rgba(245, 222, 179, 0.47)

h5
  margin-bottom: 0!important

.rbc-day-slot .rbc-event
  border: 0.1rem white solid

.rbc-event
  background-color: $hwr-color
  box-shadow: 0px 0px 2px 1px #748296
  color: rgb(255, 255, 255)
  word-break: break-word
  font-size: 0.7rem
  font-weight: bolder

.rbc-event-content
  margin-top: 1%

.rbc-today
  background-color: rgba(245, 222, 179, 0.47)

.rbc-event.rbc-selected
  background-color: $hwr-color-active
  font-size: 0.8rem
  z-index: 9999

.rbc-time-view
  border-radius: 10px

.rbc-toolbar
  font-weight: bolder!important
  color: whitesmoke
  background-color: $hwr-color-active
  border-radius: 10px
  padding: 0.8rem

.rbc-btn-group
  margin: 0 1rem
  button
    border-radius: 10px
    background-color: $hwr-color
    color: white
  button.rbc-active
    background-color: $hwr-color-active

.rbc-current-time-indicator
  background-color: $dark-bt-color